.about-wrapper {
  padding: 100px 0;
  position: relative;
  background: #fff;
}

.image-area {
  position: relative;
}

.main-img {
  width: 80%;
  border-radius: 20px;
  position: relative;
  z-index: 2;
}

.small-img {
  position: absolute;
  top: 80px;
  right: 30px;
  width: 255px;
  border-radius: 15px;
  z-index: 3;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

.green-bar {
  position: absolute;
  left: -20px;
  top: 40px;
  width: 15px;
  height: 80%;
  background: #3cb371;
  border-radius: 20px;
  z-index: 1;
}

.yellow-shape {
  position: absolute;
  right: 73px;
  bottom: 30px;
  width: 80px;
  height: 80px;
  background: #f4c430;
  border-radius: 50% 50% 50% 0;
  transform: rotate(45deg);
  z-index: 1;
}

.section-subtitle {
  color: #3cb371;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}

.section-title {
  font-size: 42px;
  font-weight: 700;
  color: #1c3c2f;
  margin-bottom: 20px;
}

.section-highlight {
  color: #3cb371;
  font-weight: 600;
  margin-bottom: 15px;
}

.section-text {
  color: #6c757d;
  margin-bottom: 30px;
  line-height: 1.7;
}

.about-points-wrapper {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 30px;
}

.icon-circle {
  width: 120px;
  height: 120px;
  background: #f1f5f2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-circle img {
  width: 60px;
}

.about-points {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-points li {
  margin-bottom: 12px;
  font-weight: 500;
  color: #1c3c2f;
  display: flex;
  align-items: center;
  gap: 10px;
}

.about-points svg {
  color: #f4c430;
}

.discover-btn {
  background: #f4c430;
  border: none;
  padding: 14px 32px;
  font-weight: 600;
  border-radius: 6px;
}

.discover-btn:hover {
  background: #e0b020;
}


.gallery-section {
  padding: 80px 40px;
  background: #f5f5f5;
}

.gallery-card {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
}

.gallery-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  transition: 0.6s ease;
}

.gallery-card:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(60, 179, 113, 0.85);
  border-radius: 15px;
  opacity: 0;
  transition: 0.4s ease;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  color: white;
}

.gallery-card:hover .overlay {
  opacity: 1;
}

.overlay-content span {
  font-size: 14px;
  opacity: 0.9;
}

.overlay-content h4 {
  font-size: 22px;
  font-weight: 600;
  margin-top: 5px;
}

.arrow-btn {
  background: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3cb371;
  transition: 0.3s ease;
}

.arrow-btn svg {
  font-size: 18px;
}

.gallery-card:hover .arrow-btn {
  transform: translateX(5px);
}

.fesho-stats {
  background: url("../assets/aboutbg-pattern-10.jpg") center/cover no-repeat;
  padding: 90px 0 140px;
  position: relative;
  color: #fff;
  margin-bottom: 180px;
}

.stat-number {
  font-size: 52px;
  color: #f4b942;
  font-weight: 700;
}

.stat-item p {
  color: #cfe5da;
  font-weight: 500;
}

.features-card {
  background: #f5f5f5;
  border-radius: 18px;
  padding: 40px 20px;
  margin-top: 70px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -60px;
  width: 85%;
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.08);
}

.feature-item {
  border-right: 1px solid #ddd;
}

.feature-item:last-child {
  border-right: none;
}

.feature-item img {
  height: 42px;
  margin-bottom: 10px;
}

.feature-item h6 {
  font-weight: 600;
  color: #2b2b2b;
}
