.gallery-section {
  background: #f5f5f5;
  overflow: hidden;
  padding-top: 7rem;
  padding-bottom: 7rem;
  
}

.slider {
  width: 100%;
  overflow: hidden;
}

.slide-track {
  display: flex;
  gap: 24px;
  width: max-content;
  animation: scroll 25s linear infinite;
}

.slide {
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 18px;
  overflow: hidden;
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.slide:hover img {
  transform: scale(1.08);
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(18, 66, 44, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.3s;
}

.overlay svg {
  color: white;
  font-size: 28px;
}

.slide:hover .overlay {
  opacity: 1;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
