.footer-section {
  background-image: url(../assets/pattern-6.jpg);
  color: #fff;
  padding: 90px 0 20px;
}

.footer-logo {
  width: 140px;
}

.footer-text {
  opacity: 0.9;
  line-height: 1.6;
}

.footer-title {
  margin-bottom: 20px;
  font-weight: 600;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
  cursor: pointer;
  opacity: 0.85;
  transition: 0.3s;
}

.footer-links li:hover {
  color: #ffc107;
  transform: translateX(5px);
}

.social-icons {
  display: flex;
  gap: 12px;
  margin-top: 15px;
}

.social-icons i {
  background: #0b2f24;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.social-icons i:hover {
  background: #ffc107;
  color: #000;
}


.newsletter-input {
  border-radius: 10px;
  padding: 12px;
  border: none;
}

.subscribe-btn {
  width: 100%;
  background: #ffc107;
  color: #000000;
  border: none;
  border-radius: 10px;
  padding: 12px;
  font-weight: 600;
  transition: 0.3s;
}

.subscribe-btn:hover {
  background: #4caf50;
  color: #ffffff;
}

.footer-bottom {
  margin-top: 40px;
  border-top: 1px solid rgba(255,255,255,0.2);
  padding-top: 15px;
  font-size: 14px;
  opacity: 0.8;
}
